html body {
    background-color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.navbar a {
    user-select: none;
    pointer-events: none;
    text-decoration: none;
    color: white;
}

.cont-center {
    text-align: center;
    user-select: none; 
}

.carousel-caption {
    max-width: 450px;
}

.carousel-item img {
    opacity: 0.75;
}



/* RESPONSIVENESS */



/* MOBILE */

@media (min-width: 376px) and (max-width: 857px) {
    .carousel-item img {
        opacity: 0.5;
    }

    .carousel-caption {
        left: 20% !important;
        bottom: 10.25rem !important;
    }
}

/* LAPTOP PC */
@media (min-width: 858px) and (max-width: 1144px) {

    .carousel-caption{
        padding-top: 35px;
        max-height: 100%;
        font-size: 10px;
        max-width: 275px;
    }

}

@media (min-width: 1145px) and (max-width: 1250px) {

    .carousel-caption{
        padding-top: 35px;
        max-height: 100%;
        font-size: 12px;
        max-width: 350px;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    .carousel-caption {
        max-width: 350px;
    }
}

@media (min-width: 1280px) and (max-width: 1280px) {
    .carousel-caption {
        max-width: 425px;
    }
}



/* HIGH MEDIA */
@media (min-width: 1700px) and (max-width: 1800px) {
    .carousel-caption {
        font-size: 18px;
    }

    .navbar a {
        font-size: 22px;
    }

    .fw-bold {
        font-size: 24px;
    }

    .navbar img {
        width: 35;
        height: 35;
    }
}

@media (min-width: 1801px) and (max-width: 2000px) {
    .carousel-caption {
        font-size: 22px;
        width: 110%;
    }

    .navbar a {
        font-size: 24px;
    }

    .fw-bold {
        font-size: 26px;
    }

    .navbar img {
        width: 40;
        height: 40;
    }
}

@media (min-width: 2001px) and (max-width: 2200px) {
    .carousel-caption {
        font-size: 24px;
        width: 120%;
    }

    .navbar a {
        font-size: 26px;
    }

    .fw-bold {
        font-size: 28px;
    }

    .navbar img {
        width: 50;
        height: 50;
    }
}


